efficientnet_pytorch==0.6.3
pretrainedmodels==0.7.4
torch==1.5.0
omegaconf==1.4.1
pandas==1.0.3
numpy==1.17.5
pytorch_toolbelt==0.3.2
hydra_core==0.11.3
pytorch_lightning==0.8.4
albumentations==0.4.5
comet_ml==3.1.11
opencv_python_headless==4.2.0.34
hydra==2.5
scikit_learn==0.23.1
