albumentations==0.4.5
comet_ml==3.1.11
pretrainedmodels==0.7.4
efficientnet_pytorch==0.6.3
torch==1.6.0
omegaconf==2.0.1rc11
pytorch_toolbelt==0.3.2
hydra_core==1.0.0rc2
pytest==5.4.1
numpy==1.18.5
pandas==1.0.5
torchvision==0.7.0
pytorch_lightning==0.9.1rc1
Pillow==7.2.0
scikit_learn==0.23.2
